:root {
  --backdrop-filter: blur(30px);
}

#root {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

header {
  position: sticky;
  top: 0;
  backdrop-filter: var(--backdrop-filter);
  -webkit-backdrop-filter: var(--backdrop-filter);
  z-index: var(--mui-zIndex-appBar);
}

main {
  flex: 1 0;
  display: flex;
  flex-direction: column;
}
