* {
  scrollbar-width: thin;
}

#root {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

header {
  position: sticky;
  top: 0;
  z-index: var(--mui-zIndex-appBar);
}

main {
  flex: 1 0;
  display: flex;
  flex-direction: column;
}

.bg-blur {
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  background-color: rgb(
    var(--mui-palette-background-defaultChannel) /
      var(--mui-palette-action-disabledOpacity)
  );
}
